


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-item{
  list-style:none ;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.dark-1{
  color:#131313 ;

}

.dark-gray{
  color: rgba(255, 144, 14, 1)
}

.dark-2{
    color: #424242;

}
.display-flex{
  display: flex;
}



 .light-pink{
  background-color:rgba(255, 144, 14, 0.1) ;
 }

 .navber{
  
  justify-content:space-between;
  align-items: center;
  
 }

 .navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
 }
 .brand{
  font-weight: 700;
  font-size: 3rem;
 }
 .banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
 }
 .banner-title{
  font-weight: 700;
  font-size:4rem ;
 }
 .primary-btn{
  background-color:#FF900E ;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight:600 ;
  border-radius:8px ;
  border: none;
 }
 .banner-img{
  width: 100%;
 }

 .img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 24px;
 }

 main > section{
    margin-top: 130px;
 }

 .teams{
  align-items: center;
  margin-left: 25px;
 }
 .features{
  margin-left: 130px;
  max-width: 530px;
 }
 .features-title{
  font-size:2.8rem ;
 }

 #quick-list{
   font-weight: 500;
 }



   .fact{
    border: 1px solid goldenrod;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;

   }

   .fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
   .fact-number{
     font-size: 2.8rem;
     font-weight: 600;
     margin-top: 5px;
     margin-bottom: 10px;
   }

   .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
   }

.fact-description{
  width: 540px;
}

 @media  screen and (max-width:576px) {
   .navber, .nav-links, .teams{
    flex-direction: column;
   }
   .img-container{
    grid-template-columns: repeat(1, 1fr);
   }
   .features{
    margin-left: 20px;
   }
 }


 